body{   
    background-image: url(My\ Web\ Background.jpg);
    background-size: auto;
} 

.container {
    border: groove;
    border-color:lemonchiffon;
    width: 830px;
    margin: auto;
    background-color: whitesmoke;
}

.header .judul{
    text-align:center; 
    padding: 20px;
    font-family: cursive/*Brush Script MT*/;
    color: LightSalmon;
}

.header ul li{
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

#content {
    text-align: left;
    color: black;
}

#penulis {
    text-align: center;
    color: tan;
    font-size: 15px;
    margin-top: 5px;
}

.picture {
    margin-left: auto;
    margin-right: auto;
    height: 480px;
    background-image: url(Sophomore\ Schedule.png);
    background-size: cover;
    background-position: 0 - 180px;
}

#matakuliah{
    font-family: Comic Sans MS;
    font-size: 13px;
    border-collapse: collapse;
    width:70%;
}

#matakuliah td, #matakuliah th{
    border: 1px solid #ddd;
    padding: 5px; 
}

#matakuliah tr:nth-child(even){background-color: #f2f2f2;}

#matakuliah tr:hover {background-color:gainsboro;}

#matakuliah th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color:lightsteelblue;
    color:azure;
}

.footer {
    background-color: grey;
    font-size: 12px;
    color:black;
    text-align: center;
    padding: 9px;
}